.middleBox {
    margin: auto;
    height: 100%;
    min-height: 100%;
    width: 60%;
    min-width: 400px;
    box-sizing: border-box;
    padding: 20px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.logoImg {
    border: 5px solid #555;
}

h3 {
    color: #727272;
    font-weight: normal;
}